from pymongo import Connection

appConfig = {
    'connection':            None,
    'friends':               None, # will contain the friends collections
    'secret_key':            '',
    'salt':                  '', #    #salt = uuid.uuid4().hex
    'google_api_key':        '', # TODO: replace stevens api key
    'geonames_api_username': '',
}

# 
def getConnection():
    appConfig['connection'] = Connection()
    appConfig['db'] = appConfig['connection'].timezonedb
    return appConfig['db']

# 
def dropConnection():
    appConfig['connection'].disconnect()
